.article-card {
    width: 550px;
    min-height: 350px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 999;
    padding: 30px;
    box-sizing: border-box;
    text-align: left;

    box-shadow: 0 10px 25px rgba(136, 13, 198, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.article-card:hover {
    transform: translateY(-10px);
    position: relative;
    z-index: 999;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.4);
}


.article-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg,
            rgba(46, 1, 71, 0.1) 0%,
            rgba(30, 3, 45, 0.325) 100%);
    z-index: 1;
}


.article-content {
    position: relative;
    z-index: 2;
}

.article-card-title {
    font-size: 24px;
    font-weight: 200;
    color: #ffffff;
    margin-bottom: 20px;
    line-height: 1.3;
    font-family: 'Roboto', sans-serif;
}

.article-card-button {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-weight: 100;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, #aa6cff, #d78fff);
    padding: 12px 24px;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.article-card-button:hover {
    background: linear-gradient(90deg, #d78fff, #aa6cff);
    box-shadow: 0 4px 15px rgba(170, 108, 255, 0.4);
    transform: translateY(-2px);
}

.article-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px;
}

@media (max-width: 900px) {
    .article-card {
        width: 100%;
        max-width: 500px;
    }
}

@media (max-width: 600px) {
    .article-card-title {
        font-size: 20px;
    }
}