.article-detail-page{
margin-top: 10%;

}

.glass{
    position: relative;
    z-index: 0;
}

.article-details-section-simple {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    color: #1F0D37;
}


.project-details-back {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #1F0D37;
  padding: 8px 14px;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  text-decoration: none;
}

.project-details-back:hover {
  background: rgba(255, 255, 255, 0.316);
}
/* .back-btn {
    display: inline-block;
    margin-bottom: 20px;
    color: #9071ff;

    border-radius: 20px;
    font-weight: 500;
    text-decoration: none;
} */
.details-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.details-image {
    position: relative;
    z-index: 99;
    width: 100%;
    border-radius: 15px;

    margin-bottom: 20px;
}
.details-content p {
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 15px;
}


.article-detail-page {
    width: 100%;

    color: #000000; 
    font-family: 'Roboto', sans-serif; 
}


.detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;

    border-bottom: 1px solid #ddd;
}

.back-link {
    text-decoration: none;
}

.detail-header-title {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-weight: 600;
    color: #1F0D37;
}

.header-placeholder {
    width: 24px; 
}

.detail-hero-image {
    width: 100%;
    height: auto;
    max-height: 600px; 
    object-fit: cover;
}


.detail-main-content {
    max-width: 950px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto; 
    padding: 40px 20px;
}

.detail-section {
    margin-bottom: 40px;
}

.detail-h2 {
   font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: #1F0D37;
    font-weight: 700;
  
    margin-bottom: 20px;
    border-bottom: 2px solid #B58EE6;
    padding-bottom: 5px;
}

/* --- Table of Contents --- */
.detail-toc-list {
    list-style-type: decimal;
    list-style-position: inside;
    padding-left: 5px;
}

.detail-toc-list li {
   font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #1F0D37;
    line-height: 1.6;
    margin-bottom: 10px;
 
}

/* --- Friends List --- */
.detail-friend-item {
    margin-bottom: 30px;
}

.detail-h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #1F0D37;
   
    margin-bottom: 10px;
}

.detail-friend-meta {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #1F0D37;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.detail-friend-meta a {
    color: #9071ff;
    text-decoration: underline;
}

.detail-main-content p {
     font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.7;
    color: #1F0D37;
    
}