body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


.error-container {
  width: 100%;
  height: 100vh;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}


.header-actions {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
}


.small-btn {
  padding: 10px 12px !important;
  margin: 0 !important;
}


.error-img {
  width: 300px;
  height: auto;
  margin-bottom: 30px;
  position: absolute;
  z-index: 99;
}


.error-text {
  color: white;
  font-size: 2em;
  text-align: center;
  margin: 10px 0;
  z-index: 20;
}


.error-margin {
  margin-top: -50px;
}
.error-code {
  color: white;
  font-size: 400px;
  line-height: 1;
  margin: 0;
  padding: 0;
  z-index: 10;
  text-align: center;
}


.home-button {
  padding: 12px 24px;
  background-color: #000000;
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s;
  margin-top: 20px;
  z-index: 20;
}

.home-button:hover {
  background-color: #333333;
  border-color: #cccccc;
}
