body{
    background: linear-gradient(-90deg, #F0E8FB, #B58EE6);
    overflow-x: hidden;

}


*{
    margin: 0;
    padding: 0;
}


.both{
    display: flex;
    flex-direction: column;

}



.ALL{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 120px;
    margin-top: 5%;
        flex-wrap: wrap;
}
.buttons
{
    flex-wrap: wrap;
    display: flex;
    margin-left: 130px;
    margin-bottom: 5%;
    gap: 4%;
}

.both2{
    display: flex;
    flex-direction: column;
     margin-left: 130px;

}