.ABOUT{
     font-family: 'Roboto', sans-serif;
     color: #1F0D37;
     font-weight: 900;
     font-size: 64px;
     margin-top: 1%;

}

.TXT{
     font-family: 'Roboto', sans-serif;
     color: #1F0D37;
     font-weight: 400;
     font-size: 24px;
     width: 650px;

    
     
}
