.modeling-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 160px 20px 0px 20px;
}

.modeling-foreground {
  position: relative;
  z-index: 1;
}

.modeling-hero-content {
  max-width: 720px;
}

.modeling-title {
  font-size: 3rem;
  color: #24113f;
  margin-bottom: 12px;
  font-family: 'Arial', sans-serif;
}

.modeling-subtitle {
  font-size: 1.25rem;
  color: #4b2c78;
  opacity: 0.85;
  font-family: 'Arial', sans-serif;
}

@media (max-width: 768px) {
  .modeling-title {
    font-size: 2.4rem;
  }

  .modeling-subtitle {
    font-size: 1.1rem;
  }
}


body {
  background: linear-gradient(-90deg, #F0E8FB, #B58EE6);
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

